Source: monodevelop-database
Section: devel
Priority: optional
Maintainer: Mirco Bauer <meebey@debian.org>
Build-Depends: debhelper (>= 5), dpatch
Build-Depends-Indep: cli-common-dev (>= 0.5.4),
 monodevelop (>= 1.9.2),
 mono-devel (>= 2.0),
 autoconf,
 automake,
 autotools-dev,
 libgtk2.0-cil (>= 2.8),
 libgtksourceview2.0-cil (>= 0.10),
 libmono-system-data2.0-cil,
 libmono-oracle2.0-cil,
 libmono-npgsql2.0-cil,
 libmono-sqlite2.0-cil,
 libmono-firebirdsql1.7-cil,
 libmysql5.0-cil,
 libmono-addins0.2-cil (>= 0.3),
 libmono-addins-gui0.2-cil (>= 0.3)
Standards-Version: 3.8.0
Homepage: http://www.monodevelop.com/
Vcs-Browser: http://svn.debian.org/wsvn/pkg-cli-apps/packages/monodevelop-database/trunk/
Vcs-Svn: svn://svn.debian.org/svn/pkg-cli-apps/packages/monodevelop-database/trunk/

Package: monodevelop-database
Architecture: all
Replaces: monodevelop (<< 0.10)
Conflicts: monodevelop-query
Provides: monodevelop-query
Depends: ${shlibs:Depends}, ${misc:Depends}, ${cli:Depends},
 monodevelop (>= ${misc:Version}~),
 monodevelop (<< ${misc:Version}a~)
Description: Database plugin for MonoDevelop
 MonoDevelop is a GNOME IDE primarily designed for C# and other .NET
 languages.
 .
 This package implements database features for MonoDevelop.
 .
 The following RDBMSs are supported:
  * MySQL
  * PostgreSQL
  * SQLite
  * Micrsoft SQL Server
